{
    "semi": true,
    "singleQuote": false,
    "jsxSingleQuote": false,
    "bracketSpacing": true,
    "bracketSameLine": true,
    "trailingComma": "all",
    "printWidth": 80,
    "tabWidth": 4,
    "arrowParens": "always",
    "endOfLine": "lf"
}
